.android-small-1,
.android-small-1 * {
  box-sizing: border-box;
}
.android-small-1 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 640px;
  max-width: 1000px;
  max-height: 3000px;
  position: relative;
  overflow-y: auto;
}
.frame-1 {
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
}
.blablablablabla {
  color: #000000;
  text-align: left;
  font: var(--body, 400 13px "Red Hat Mono", sans-serif);
  position: relative;
  width: 248px;
}
.testing {
  color: #000000;
  text-align: left;
  font: var(--body, 400 13px "Red Hat Mono", sans-serif);
  position: relative;
}
.frame-2 {
  background: var(
    --irisfade,
    linear-gradient(
      -90deg,
      rgba(229, 190, 16, 1) 0%,
      rgba(229, 190, 16, 0) 100%
    ),
    linear-gradient(to left, #e51024, #e51024)
  );
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.company-promoted {
  color: #000000;
  text-align: left;
  font: var(--body, 400 13px "Red Hat Mono", sans-serif);
  position: relative;
}
